<header>
    {% if is_granted('ROLE_USER') %}     

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container-fluid">

                <!-- Logo + Lien page d'accueil -->
                <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('img/LOGO_UmanIT_Nav.png')}}" class="align-middle"></a>

                <!-- Boutons nav à droite -->
                <div class="d-flex justify-content-end">

                    <!-- Bouton Accueil -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <div class="navbar-nav">
                                <a class="first nav-link px-3 py-3" aria-current="page" href="{{ path('home') }}">accueil</a>
                            </div>
                        </li>

                        <!-- Bouton Formulaires -->
                        <li class="nav-item dropdown">
                            <a class="second nav-link dropdown-toggle px-3 py-3" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">formulaires</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">professionnel</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('formulaire_progression')}}">progression</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Bouton Historique -->
                        <li class="nav-item dropdown">
                            <div class="navbar-nav">
                                <a class="first nav-link px-3 py-3" aria-current="page"
                                    href="{{ path('historique') }}">historique</a>
                            </div>
                        </li>
                        
                        {% if is_granted('ROLE_RH')%}

                            <!-- Bouton Gestion des utilisateurs -->
                            <li class="nav-item dropdown">
                                <div class="navbar-nav">
                                    <a class="gestion nav-link px-3 py-3" aria-current="page" href="{{ path('user_index') }}">gestion
                                        des
                                        utilisateurs</a>
                                </div>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_RH') or is_granted('ROLE_MANAGER') %}

                            <!-- Bouton Ouvrir une session -->
                            <li class="nav-item dropdown">
                                <div class="navbar-nav">
                                    <a class="session nav-link px-3 py-3" aria-current="page" href="{{ path('session_new') }}">ouvrir une
                                        session</a>
                                </div>
                            </li>

                        {% endif %}

                        

                        <!-- Bouton Déconnexion -->
                        <li class="nav-item dropdown">
                            <div class="navbar-nav">
                                <a class="last px-3 py-3" aria-current="page" href="{{ path('app_logout') }}">déconnexion</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        
    {% endif %}
</header>