{% extends 'base.html.twig' %}

{% block title %}UmanIT - Gestion des utilisateurs{% endblock %}

{% block body %}

    <main class="container w-75">
        <section>

            <h1 class="mt-5 mb-4">Consultation de la session</h1>

            <!-- Type de formulaires -->

            <h2 class="mt-5">Informations :</h2>
            <hr>

            <div class="row px-3 mt-4">
                <div class="col">
                    <p>
                        <b>Formulaires souhaités :</b> {{ session.formulaire ? session.formulaire|join(', ') : '' }}
                    </p>
                </div>
            </div>

            <!-- Dates d'ouverture et de fermeture -->        
            
            <div class="row px-3 mt-4">
                <div class="col">
                    <p>
                        <b>Date de début :</b> {{ session.startDate ? session.startDate|date('Y-m-d') : '' }}
                    </p>
                </div>

                <div class="col">
                    <p>
                        <b>Date de fin :</b> {{ session.endDate ? session.endDate|date('Y-m-d') : '' }}
                    </p>
                </div>
            </div>

            <!-- Utilisateurs souhaités -->

            <div class="row px-3 mt-4">
                <div class="col">
                    <p>
                        <b>Utilisateurs souhaités :</b> </p>
                    </p>
                </div>
            </div>

            <!-- Bouton de validation -->

            <div class="mt-5">
                <a href="{{ path('session_index') }}" class="btn">Annuler</a>
                <a href="{{ path('session_edit', {'id': session.id}) }}" class="btn">Éditer</a>
                {{ include('session/_delete_form.html.twig') }}
            </div>

        </section>
    </main>

{% endblock %}