{% extends 'base.html.twig' %}

{% block title %}UmanIT - Consulter un utilisateur{% endblock %}

{% block body %}

    <main>
        <section>

            <h1 class="mt-5 mb-4">Consultation de {{ user.firstname }} {{ user.name }} </h1>

            Rôle : {{ user.roles ? user.roles|json_encode : '' }}

            <!-- Informations personnelles -->
            <h2 class="mt-5">Informations personnelles :</h2>
                <hr>

                <!-- Nom & Prénom -->
                <div class="row px-3 mb-4 mt-4">
                    <div class="col">
                        <label for="name">Nom :</label>
                        {{ user.name }}        
                    </div>

                    <div class="col">
                        <label for="firstname">Prénom :</label>
                        {{ user.firstname }}
                    </div>
                </div>

                <!-- Anniversaire & Email -->
                <div class="row px-3 mb-4">
                    <div class="col">
                        <label for="birthday">Date de naissance :</label>
                        {{ user.birthday|date("m/d/Y") }}
                    </div>

                    <div class="col">
                        <label for="mail">Email :</label>
                        {{ user.email }}
                    </div>
                </div>

            <!-- Informations relatives au poste -->
            <h2 class="mt-5">Informations relatives au poste :</h2>
                <hr>

                <!-- Service & Date d'embauche -->
                <div class="row px-3 mb-4 mt-4">
                    <div class="col">
                        <label for="service">Service :</label>
                        {{ user.service }}        
                    </div>

                    <div class="col">
                        <label for="dateHire">Date d'embauche :</label>
                        {{ user.dateHire|date("m/d/Y") }}
                    </div>
                </div>

                <!-- Anniversaire & Mail -->
                <div class="row px-3 mb-4">
                    <div class="col">
                        <label for="jobTitle">Intitulé du poste :</label>
                        {{ user.jobTitle }}
                    </div>

                    <div class="col">
                        <label for="accesssionDate">Date d'accession au poste :</label>
                        {{ user.accessionDate|date("m/d/Y") }}
                    </div>
                </div>

            <div class="pt-3">
                <a href="{{ path('user_index') }}" class="btn">Annuler</a>
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn">Éditer</a>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        
        </section>
    </main>

{% endblock %}
