{% extends 'base.html.twig' %}

{% block title %}UmanIT - Connexion{% endblock %}

{% block body %}

    <main class="container d-flex vh-100">
        <div class="row align-self-center mx-auto">

            <!-- Logo -->
            <div class="text-center mb-5">
                <img class="img-fluid" src="img/LOGO_UmanIT.png">
            </div>

            <!-- Formulaire de connexion -->
            <form method="post" class="col-4 mx-auto">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">DÉCONNEXION</a>
                    </div>
                {% endif %}

                <!-- Email -->
                <div class="mb-3">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-100" autocomplete="email" placeholder="entrer votre email" required autofocus>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <input type="password" name="password" id="inputPassword" class="form-control w-100" autocomplete="current-password" placeholder="entrer votre password" required>
                </div>

                <div class="mb-5 text-center">
                    <a href="#">mot de passe oublié ?</a>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <!-- Bouton de connexion -->
                <div class="text-center mt-5">
                    <button type="submit" id="submit" class="btn">Se connecter</button>
                </div>

            </form>
        </div>
    </main>

{% endblock %}
